nav {
    color: white;
    background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 1400% 1400%;
    animation: rainbowBackground 10s linear infinite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
}

@keyframes rainbowBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



body {
    margin: 0;
}

section {
  margin-bottom: 30px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.history_box {
  max-height: 200px;
  overflow-y: auto;
}


