
nav {
    color: rgb(255, 255, 255);
    background-color: #3932c0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


body {
    margin: 0;
}

section {
  margin-bottom: 30px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.history_box {
  max-height: 200px;
  overflow-y: auto;
}


